input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: 1px solid #0284c7;
  display: inline-flex;
  border-radius: 8px;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  cursor: pointer;
  margin: 0;
  position: relative;
}

@media screen and (max-width: 500px) {
  .number-input button {
    width: 2em;
    height: 2em;
  }
  .number-input {
    box-sizing: border-box;
  }
}
